.about-us {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 8px 1px;
  background-size: 320px 7px;
}

.about-us__wrapper {
  margin: 0 auto;
  padding: 24px 29px 14px;
}

.about-us__title {
  margin: 0 0 56px;
  padding-top: 11px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .about-us {
    background-position: 19px 0;
    background-size: 768px 17px;
  }

  .about-us__wrapper {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 35px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: 16px;
    margin-bottom: 70px;
    padding-top: 41px;
  }
}

@media (min-width: @desktop-width) {
  .about-us__title {
    margin-top: 17px;
    margin-bottom: 69px;
    margin-left: 221px;
    font-size: 53px;
    line-height: 57px;
  }
}
