.advantages-list {
  margin: 0;
  padding: 0;

  &__item {
    margin: 15px 0 53px;
    padding-top: 15px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;

    &::before {
      content: "";
      width: 50px;
      height: 37px;
      position: absolute;
      top: -39px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}
