.footer-page {
  background-color: #f1f1f1;
}

.footer-page__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.footer-page__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer-page__box {
    padding-top: 25px;
    display: flex;
  }

  .footer-page__logo {
    display: block;
    margin-top: 9px;
    margin-left: 50px;
    flex-basis: 183px;
  }

  .footer-page__copyright--container {
    margin-top: -10px;
    margin-right: 50px;
  }
}
