.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__logo {
  flex-basis: 86px;
  padding-top: 22px;
  text-align: center;
  height: 85px;
  background: rgba(255, 255, 255);
}

.page-header__title {
  background-image: url("../img/hero-mobile@1x.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: 575px auto;
  background-position: top;
  position: relative;
}

.page-header__title,
.page-header__title--catalog,
.page-header__title--form {
  margin: 0 auto;
  padding: 71px 30px 122px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  background-color: #f9f9f9;
}

.page-header__title--catalog,
.page-header__title--form {
  background-color: #f1f1f1;
  width: 100%;
}

.page-header__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 648px;
  }
}
