.popular-product__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 28px 30px 34px;
}

.popular-product__title {
  margin: 0;
  padding-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.popular-product__flag {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
}

.popular-product__desc {
  margin: 23px 0 17px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.popular-product__definition-container {
  margin: 0 0 28px;
}

.popular-product__def-row {
  display: table-row;
  border-bottom: 1px solid #ececec;
}

.popular-product__def-param,
.popular-product__def-value {
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
}

.popular-product__def-value {
  padding: 10px 0 9px;
}

.popular-product__image {
  margin-bottom: 15px;
  width: 100%;
  height: auto;
}

.popular-product__price {
  margin-bottom: 26px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
}
