.popular-product__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
}

.popular-product {
  margin: 10px 31px 12px;
}

.popular-product__info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 23px;
}

.popular-product__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.popular-product__flag {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
}

.popular_product__desc {
  margin: 18px 0 17px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: #444444;
}

.popular-product__definition-container {
  margin: 0 0 28px;
  display: table;
  border-collapse: collapse;
}

.popular-product__def-row {
  display: table-row;
  border-bottom: 1px solid #ececec;
}

.popular-product__def-param,
.popular-product__def-value {
  display: table-cell;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
}

.popular-product__def-value {
  padding: 10px 0 9px;
  padding-left: 17px;
}

.popular-product__image {
  margin-bottom: 27px;
  width: 100%;
  height: auto;
}

.popular-product__price {
  margin-bottom: 26px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
}


@media (min-width: @tablet-width) {
  .popular-product::before {
    content: "";
    position: relative;
    top: -14px;
    left: 0;
    display: block;
    height: 24px;
    width: 100%;
    background: url("../img/icon-bg-zigzag-fill.svg") repeat-x 0 0;
    z-index: 1;
  }

  .popular-product {
    margin: 0;
  }

  .popular-product__wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-bottom: 32px;
  }

  .popular-product__title {
    margin: 6px auto 23px 46px;
    font-size: 43px;
    line-height: 50px;
  }

  .popular-product__image {
    position: absolute;
    top: 8px;
    right: 50px;
    width: 333px;
    height: 404px;
  }

  .popular-product__info {
    position: relative;
    flex-wrap: wrap;
    min-height: 415px;
    min-width: 708px;
    margin-top: 21px;
    margin-right: auto;
  }

  .popular_product__desc {
    margin: 4px 409px 17px 49px;
    min-width: 290px;
    font-size: 17px;
    line-height: 30px;
  }

  .popular-product__flag {
    order: -1;
    margin-top: 17px;
    margin-right: 75px;
    width: 75px;
    line-height: 17px;
    text-align: center;
  }

  .popular-product__definition-container {
    margin: 19px 432px 56px 50px;
    min-width: 290px;
    display: table;
    border-collapse: collapse;
  }

  .popular-product__def-value {
    padding-left: 0;
  }

  .popular-product__price {
    font-size: 20px;
    margin-bottom: 34px;
    margin-left: 37px;
    width: 40.7%;
  }
}

@media (min-width: @desktop-width) {
  .popular-product {
    margin-bottom: 24px;
  }

  .popular-product__wrapper {
    padding-top: 11px;
  }

  .popular-product__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: -20px;
    padding-top: 63px;
  }

  .popular-product__flag {
    padding-top: 66px;
    margin-left: 92px;
    order: 0;
  }

  .popular_product__desc {
    width: 290px;
    margin-left: 32%;
  }

  .popular-product__definition-container {
    width: 290px;
    margin: 31px auto 111px 225px;
  }

  .popular-product__image {
    width: 525px;
    height: 636px;
    top: -158px;
    right: -55%;
    z-index: -1;
  }

  .popular-product__price {
    width: 292px;
    margin: 0 12px 33px 224px;
  }
}
