.site-list__item {
  height: 79px;
  flex-grow: 1;
  border-bottom: 1px solid #ececec;
}

.site-list__item--cart,
.site-list__item--catalog,
.site-list__item--knitting,
.site-list__item--src {
  padding-top: 26px;
  padding-left: 75px;
  height: 52px;
  width: 245px;
  background-color: #ffffff;
}

.site-list__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  display: block;
}

.site-list__link--cart,
.site-list__link--src {
  margin-right: 26px;
  margin-bottom: -4px;
  margin-left: -43px;
  fill: #000000;
  opacity: 0.3;

  polygon {
    fill: #ffffff;
  }

  &:hover {
    color: #63d1bb;
  }

  &:active {
    color: #63d1bb;
    opacity: 0.3;
  }
}

.site-list {
  font-weight: normal;
}


.site-list a[href] {
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-list__item--catalog {
    margin-left: 50px;
  }

  .site-list__item--catalog,
  .site-list__item--knitting {
    flex-grow: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 0;
    width: 167px;
    border: none;
    order: 1;
  }

  .site-list__link--catalog,
  .site-list__link--knitting {
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
  }

  .site-list__item--cart,
  .site-list__item--catalog,
  .site-list__item--knitting,
  .site-list__item--src {
    padding-right: 0;
    text-align: left;
    height: 62px;
    display: block;
    background-color: transparent;
  }

  .site-list__item--src {
    flex-grow: 0;
    width: 50px;
    height: 53px;
    margin: auto;
    padding-top: 35px;
    padding-left: 32px;
    border: 1px solid #ececec;
    border-top: 0;
  }

  .site-list__item--cart {
    flex-grow: 0;
    width: 188px;
    height: 57px;
    padding-top: 31px;
    padding-right: 50px;
  }
}
